@import 'sweetalert.css';

/* Slight transitions on elements with hover events */
.autocomplete_result.vcenter_parent,
.centertext.lighttext.marginbottom1.margintopneg1 a,
.titlestack.centertext a,
.centertext.margintop1.new_episode_for_user #save_episode_button,
.centertext.lighttext.margintop1 a,
#playcontrols #seekbackbutton,
#playcontrols #seekforwardbutton,
#playcontrols #playpausebutton,
.pure-g .destructivebutton,
.pure-g .feedcell,
.pure-g .episodecell,
.pure-g .extendedepisodecell,
.nav a,
.footer a {
  transition: all 100ms ease-out;
}

/* Text colour on hover: #000 / black */
.centertext.lighttext.marginbottom1.margintopneg1 a:hover,
.titlestack.centertext a:hover,
.centertext.lighttext.margintop1 a:hover,
#playcontrols #seekbackbutton:hover,
#playcontrols #seekforwardbutton:hover,
#playcontrols #playpausebutton:hover,
.footer a:hover,
.nav a:hover {
  color: #000;
}

/* Scale SVG player controls on hover */
#playcontrols #seekbackbutton:hover,
#playcontrols #seekforwardbutton:hover,
#playcontrols #playpausebutton:hover {
  transform: scale( 1.025 );
}

/* Single episode hovers on the home screen */
.pure-g .feedcell:hover,
.pure-g .episodecell:hover,
.pure-g .extendedepisodecell:hover {
  background: rgba(252, 126, 15, 0.25);
}

/* Delete button hovers */
.pure-g .destructivebutton:hover {
  background: #FC1B0F;
  color: #fff;
}

/* Save/Subscribe button hover */
.centertext.margintop1.new_episode_for_user #save_episode_button:hover {
  background: #fc7e0f;
  color: #fff;
}

/* Podcast search results */
.autocomplete_result.vcenter_parent:hover {
  color: #a4a4a4;
}

.autocomplete_result.vcenter_parent:hover h4 {
  color: #fc7e0f;
}

/* Slight pixel adjustment to playback speed controls */
#speedcontrolbackground {
  padding-top: 2px;
}
